.main {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 80dvw;
}

.products-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  padding: 0 40px;
}


@media (max-width: 2000px) {
  .products-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(2, 45dvw);
    padding: 0 15px;
  }
}

.product-container {
  padding: 40px 25px 25px 25px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 20px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-name {
  height: 40px;
  margin-bottom: 5px;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  position: relative;
}

.product-rating-stars {
  width: 100px;
  margin-right: 6px;
  padding-bottom: 10px;
}

.product-rating-count {
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-top: 3px;
}

.product-price {
  font-weight: 700;
  margin-bottom: 10px;
}

.product-quantity-container {
  margin-bottom: 17px;
  position: relative;
}

.product-spacer {
  flex: 1;
}

.added-to-cart {
  color: rgb(6, 125, 98);
  font-size: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  align-items: center;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
}

.added-to-cart-visible {
  display: flex;
}

.no-results {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
  align-items: center; 
  font-size: 22px;
  color: #555;
}